*{
    margin: 100%;
    padding: 0;
    box-sizing: border-box;
}

html,body, #root{
    width: 100%;
    background-color: #c50e0e;
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    color: rgb(255, 255, 255);
}